body {
  text-align: center;
  background-color: lightgreen;
}
#ben {
  background-color: gold;
  padding: 10px;
}

#ben {
  background-color: maroon;
  color: white;
  margin: 25px;
  padding: 25px;
}
#ten {
  background-color: lightgreen;
}
div {
  background-color: lightgreen;
}
li {
  display: inline-block;
  margin-right: 40px;
}
a {
  color: aquamarine;
  text-decoration: none;
  font-size: x-large;
}
nav {
  background-color: black;
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
}
#pic {
  border-radius: 50%;
}
#play-button {
  background-color: rgb(0, 255, 251);
  padding: 15px;
  margin: 15px;
}
